<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Campground</title>
</head>

<body>
    <!-- this is bc forms can only do get or post
     so we need to use the method override import from npm -->
    <form action="/campground/<%=camp_id._id%>?_method=PUT" method="POST">
        <div>
            <!-- so when we say name and structure it like this,
             what we are doing is making the thing that it sends
             to look like  {
  "campground": {
    "title": "The user-entered title",
    "location": "The user-entered location"
  }
}-->
            <label for='title'> Title</label>
            <input type="text" , id="title" name="campground[title]" value="<%=camp_id.title%>">
        </div>
        <div>
            <label for='location'> location</label>
            <input type="text" , id="location" name="campground[location]" value="<%=camp_id.location%>">
        </div>
        <button>add</button>


    </form>
</body>

</html>